_: &mlp_size # skip_geo_feat: True
    geometry_cfg:
        type: SDFRegressor
        width: 256
        depth: 2
        splits: [1, 256]
        bias: 0.5
    appearance_cfg:
        type: ColorRegressor
        width: 256
        depth: 2
    dir_embedder_cfg:
        type: TcnnDirEmbedder
    xyzt_embedder_cfg:
        xyz_embedder_cfg:
            type: TcnnHashEmbedder # no mipnerf360 contraction
        t_embedder_cfg:
            out_dim: 8 # smaller latent code

dataloader_cfg:
    dataset_cfg: &dataset_cfg
        cache_raw: True
        # n_rays: 1024
        n_rays: 512 # avoid OOM (default: 1024 * 16)
        near: 0.5
    batch_sampler_cfg:
        batch_size: 16 # will sample from all images (this should be only used for static scenes)
    num_workers: 16

val_dataloader_cfg:
    num_workers: 4
    dataset_cfg:
        <<: *dataset_cfg

runner_cfg:
    epochs: 60 # enough is enough
    ep_iter: 500
    test_using_inference_mode: False
    optimizer_cfg:
        lr: 5.0e-4
        eps: 1.0e-15
        weight_decay_table:
            xyzt_embedder.xyz_embedder: 1.e-6
    scheduler_cfg:
        type: NeuSScheduler
        warm_up_end: 500
        learning_rate_alpha: 0.05

# Always define full model config
model_cfg:
    train_chunk_size: 8192
    render_chunk_size: 8192
    supervisor_cfg:
        dist_loss_weight: 0.0
        eikonal_loss_weight: 0.1
        curvature_loss_weight: 0.0
    network_cfg:
        <<: *mlp_size
        network_cfgs:
            '0':
                type: VolumetricVideoNetwork
                xyzt_embedder_cfg:
                    xyz_embedder_cfg:
                        n_levels: 12 # smaller base hash resolution
                        log2_hashmap_size: 17 # smaller base hash resolution
                geometry_cfg:
                    width: 16
                    depth: 0
                    splits: [1, 0]
                appearance_cfg:
                    type: EmptyRegressor
                dir_embedder_cfg:
                    type: EmptyEmbedder
                <<: *mlp_size

            '1':
                type: VolumetricVideoNetwork
                xyzt_embedder_cfg:
                    xyz_embedder_cfg:
                        n_levels: 14 # smaller base hash resolution
                        log2_hashmap_size: 17 # smaller base hash resolution
                geometry_cfg:
                    width: 16
                    depth: 0
                    splits: [1, 0]
                appearance_cfg:
                    type: EmptyRegressor
                dir_embedder_cfg:
                    type: EmptyEmbedder
                <<: *mlp_size
            '2':
                type: NeuSNetwork
                xyzt_embedder_cfg:
                    xyz_embedder_cfg:
                        log2_hashmap_size: 21 # smaller base hash resolution
                xyz_embedder_cfg:
                    type: EmptyEmbedder
                use_finite_diff: False
                use_finite_diff_schedule: False
                use_hash_encoding_schedule: False
                level_init: 8
                steps_per_level: 5000
                use_curvature_loss_weight_schedule: False
                <<: *mlp_size
