configs:
    - configs/base.yaml # default arguments for the whole codebase
    - configs/models/l3mhet.yaml # network model configuration
    - configs/datasets/mobile_stage/dance3.yaml # dataset usage configuration
    - configs/specs/static.yaml
    - configs/specs/transient.yaml
    - configs/specs/optimized.yaml

dataloader_cfg: &dataloader_cfg
    dataset_cfg: &dataset_cfg
        images_dir: bkgd/images

val_dataloader_cfg:
    dataset_cfg:
        <<: *dataset_cfg
val_dataloader_cfg:
    <<: *dataloader_cfg
    dataset_cfg:
        <<: *dataset_cfg
        view_sample: [0, null, 2] # this controls the degree of volume fusion

# prettier-ignore
exp_name: {{fileBasenameNoExtension}}
